.rojo{
	width:400px;
	height:400px;
	background-color: red;
	position: relative;

}

.morado{
width:200px;
height:200px;
background-color:purple;
position: absolute;
top:100px ;
left:100px ;

}


.amarillo{
	width:100px;
	height:100px;
	background-color:yellow;
	position:absolute;
	top:100px ;
	left:100px ;

}

.azul{
	width:400px;
	height:400px;
	background-color:blue;
	position: relative;
	margin-top:1em;

}

.verde{
	width:200px ;
	height:200px ;
	background-color:green ;
	position:absolute; 
	top:100px ;
	left:100px ;


}

.negro{
	width:100px;
	height:100px ;
	background-color:black ;
	position: absolute;

}
